@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, input, textarea, button, a, div, label {
    font-family: "Inter", sans-serif;
}

input {
    outline: none;
    border: none;
    padding: 5px;
    font-size: 20px;
    border-radius: 10px;
}

button {
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    background-color: rgb(37, 17, 151);
    color: white;
}

button > a {
    color: white;
}