{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<div id="dashboard">
    <h2>Live Temperature Readings</h2>
    <div id="readings">
        {% for reading in readings %}
            <div id="readings--card">
                <p id="location">{{ reading[2] }}</p>
                <h3 id="temperature">{{ reading[3] }}</h3>
                <p id="timestamp">{{ reading[4] }}</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}