{% extends 'base.html' %}
{% block title %}Temp Readings{% endblock %}

{% block content %}

{% include 'navbar.html' %}
<div id="dashboard">
    <h2 class="ui header">Saved Temperature Readings</h2>
    <div id="table-container">
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>READING ID</th>
                    <th>SENSOR ID</th>
                    <th>SENSOR NAME</th>
                    <th>LOCATION</th>
                    <th>TEMPERATURE (°C)</th>
                    <th>TIMESTAMP</th>
                </tr>
            </thead>
            <tbody>
                {% for reading in readings %}
                <tr>
                    <td>{{ reading[0] }}</td>
                    <td>{{ reading[1] }}</td>
                    <td>{{ reading[2] }}</td>
                    <td>{{ reading[3] }}</td>
                    <td>{{ reading[4] }}</td>
                    <td>{{ reading[5] }}</td>
                    
                </tr>
                
                {% else %}
                <tr>
                    <td colspan="6" style="text-align:center">No data available</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <button>
        <a href="/delete_readings">Delete All Readings</a>
    </button>

</div>

<style>

#dashboard {
    width: calc(100vw - 50px);
    height: calc(100vh - 120px);
    display: grid;
    align-items: center;
    justify-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.8fr 0.1fr;
    overflow-y: scroll;
    padding: 25px;
    background-color: rgb(241, 241, 241);
}

h2 {
    font-size: 30px;
}

#table-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: scroll;
}

table {
    width: 100%;
    height: 100%;
    background-color: black;
}

th {
    width: auto;
    background-color: rgb(224, 224, 224);
    padding: 10px;
    font-size: 20px;
    white-space: nowrap;
}

td {
    height: 1%;
    white-space: nowrap;
    text-align: center;
    padding: 5px 10px;
    background-color: white;
    box-sizing: border-box;
}

</style>
{% endblock %}