{% extends 'base.html' %}

{% block title %}Sensors Dashboard{% endblock %}

{% block content %}

{% include 'navbar.html' %}
<div id="dashboard">
</div>

<style>

#dashboard {
    width: calc(100vw - 50px);
    height: calc(100vh - 120px);
    display: grid;
    align-items: center;
    justify-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.8fr 0.1fr;
    overflow-y: scroll;
    padding: 25px;
    background-color: rgb(241, 241, 241);
}

</style>
{% endblock %}